.fond {
	background-color: #857676;
}

.tete {
	padding-left: auto;
	padding-right: auto;
	margin-left: 6%;
	margin-right: 6%;
	margin-top: 1%;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	background-color: #DCD2D2;
}

.txt_tete {
	font-size: 195%;
	text-decoration: underline;
	padding-left: 38.5%;
	padding-right: auto;
}

.txt_tete2 {
	font-size: 150%;
	padding-left: 42%;
	padding-right: auto;
}

.img_veille { /* Numéro en fonction du nom de l'image */
	margin-left: 47%;
	padding-bottom: auto;
	margin-top: 3%;
	margin-right: 8%;
}

.img_veille2 {
	margin-left: 77%;
	padding-bottom: auto;
	margin-top: 3%;
	margin-right: 8%;
}

.img_veille3 {
	padding-left: 10%;
	margin-right: 30%;
	margin-bottom: 5%;
	margin-top: -15%;
} 

.titre { /* Titre Ma Veille Technologique */
	position: absolute;
	margin-top: -30%;
	margin-left: 8.2%;
	font-family: Arial;
	font-size: 250%;
	text-decoration: underline;
}

.txt_veille { /* Texte de présentation */
	position: relative;
	margin-top: -27%;
	margin-left: 8.2%;
	font-family: Arial;
}

.btt_1 {
	margin-left: 17%;
	text-decoration: underline;
	cursor: pointer;
	text-transform: capitalize;
	background-color: #DCD2D2;
}

.btt_2 {
	margin-left: 17%;
	text-decoration: underline;
	cursor: pointer;
	text-transform: capitalize;
	background-color: #DCD2D2;
}

.btt_3 {
	margin-left: 17%;
	text-decoration: underline;
	cursor: pointer;
	text-transform: capitalize;
	background-color: #DCD2D2;
}

.btt_4 {
	margin-left: 17%;
	text-decoration: underline;
	cursor: pointer;
	text-transform: capitalize;
	background-color: #DCD2D2;
}

.img_p {				/* Cadre */
	border-color: black;
	border-style: solid;
	border-width: 3px;
}

.cadre {	/* Cadre central */
	border-color: black;
	border-style: solid;
	border-width: 3px;
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 4%;
	background-color: #DCD2D2;
}